*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  font-weight: bold;
  color: inherit;
  text-decoration: none;
  font-size: 12px;
}
ul,ol{
  list-style: none;
}
:focus{
  outline: none;
}
h1,h2,h3,h4,h5,h6{
  font-weight: normal;
}